<!DOCTYPE html>
<html lang="en">
<h1>
    Roll your dice!
</h1>
<form action="#" method="post">
    <label for="n">Number of dice:</label><br>
    <input type="text" id="Number" name="n"><br>
    <label for="d">Size of dice (d4, d6, d8...)</label><br>
    <input type="text" id="Dice" name="d"><br>
    <label for="mod">Modifier?</label><br>
    <input type="text" id="Mod" name="mod"><br>
    <input type="submit">
</form>
<h2>
    <p>{{result}}</p>
</h2>
<h5>
    Swords & Sorcerors, for you to roll all your attack and damage rolls in one place.
</h5>
<h6>
    Made by: Swaagat B. Saikia using Flask
</h6>
</html>